.hero{
    background-image:linear-gradient(#000000a2,#000000c7),  url(/src/img/about\ hero.jpg);
    height: 70vh;
    margin-bottom: 4rem;
}

.container--blog{
    padding: 0 0 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__texts{
    color: var(--secondaryColor);
    text-align: center;
}

.hero__texts--color{
    color: var(--mainColor);
}

.copy{
    max-width: 600px;
}

/* BLOG SECTION STARD */


.blog__card{
    width: 300px;
    max-width: 400px;
    height: auto;
    padding-bottom: 1rem;
    background-color: #fffbfb;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.308);
}


.blog__card:hover{
    transition: .5s;
    transform: scale(1.05);
}

.card__picture{
    width: 100%;
    height: 245px;
    margin-bottom: 1rem;
}

.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.card__texts{
    padding: 0 1rem;
}

.card__tittle{
    text-transform: capitalize;
    font-family:var(--fontHero);
    font-weight: 800;
    font-size: 1.35rem;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.card__copy{
    line-height: 1.6;
    margin-bottom: 2rem;
    font-size: 1.05rem;
    font-weight: 300;
}

.card__link{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--mainColor);
    font-weight: 400;
}

.card__link:hover{
    transition: .3s;
    font-weight: 800;
}

.cards__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem 0;
}

/* BLOG SECTION END */

/* BLOG SECTION QUERIES START */

@media screen and (min-width:1024px){

    .blog__card{
        width: 300px;
        max-width: none;
        height: 510px;
        }

    .cards__container{
        display: flex;
        flex-direction: row;
        gap: 4rem 3rem;
    }
}

@media screen and (min-width:1440px){

    .blog__card{
        width: 350px;
        max-width: none;
        height: 490px;
        }

    .cards__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem 5rem;
    }
}

/* BLOG SECTION CHIEF START */

.container--chief{
    display:grid;
    place-items: center;
}

.chief__texts{
    max-width: 450px;
}

.tittle--chief{
    margin: 1rem 0 2rem 0;
    text-transform: uppercase;
}

.chief__picture{
    margin-top: 2rem;
    width: 300px;

}

.chief__img{
    width: 100%;
    mask-image: linear-gradient(
        rgb(255, 255, 255) 80%,
        transparent
    );
}


/*  CHIEF SECTION END*/


/*  CHIEF SECTION QUERIES START*/

@media screen and (min-width:500px){
    .chief__picture{
        width: 450px;
    }
}

@media screen and (min-width:1024px){
    .container--chief{
        display:flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .chief__picture{
        width: 500px;
        margin-top: 0rem;
    }
    
}

@media screen and (min-width:1400px){
    .container--chief{
        gap: 7rem;
        padding: 0 0 4rem;
    }

    .chief__picture{
        width: 380px;
        margin-top: 0rem;
    }

}


/* CHIEF SECTION QUERIES END*/

/* DISHES SECTION  START*/

.dishes{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container--specialities{
    text-align: center;
    padding-bottom: 0;
}

.dishes__img{
    width: 132px;
}

.tittle--chief{
    font-size: 2rem;
}

.dishes__texts{
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
}

.dishes--copy{
    padding: 0 1.5em;
    margin: 2rem 0;
    text-align: center;
    max-width: 600px;
}

/* BLOG SECTION DISHES END*/



/* BLOG SECTION DISHES START*/

/* BLOG SECTION DISHES END*/



