.hero{
    background-image: linear-gradient(#000000a4, #00000077),  url(/src/img/contact\ hero.jpg);
    height: 70vh;
}

.hero__texts{
    color: var(--secondaryColor);

}

.contact__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

}

.text--contact{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}



.form__container{
    display: grid;
    gap: 1rem 0;
    max-width: 560px;
    margin: 3rem auto;


}

.form__between{
    display: flex;
    gap: 1rem;
}

input{
    font-family: inherit;
    width: 100%;
    padding: .5rem 1rem;
    letter-spacing: .5px;
    font-size: 1.15rem;
    border: none;
    outline: 1px solid #000000a2;
}

textarea{
    resize: none;
    width: 100%;
    height: 200px;
    padding: 1.25rem 1rem;
    letter-spacing: .5px;
    font-family: inherit;
    font-size: 1.15rem;
    border: none;
    outline: 1px solid #000000a2;
}

.form__btn{
    padding: 1rem 0;
    background-color: var(--mainColor);
    color: var(--secondaryColor) ;
    cursor: pointer;
}

.form__btn:hover{
    transition: .3s;
    background-color: var(--secondaryColor);
    color: var(--mainColor);
}

.items__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 0  0 4rem 0;

}

.item__card{
    width: 300px;    
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.fa-card{
    font-size: 2.225rem;
}

.text__card{
    font-weight: 800;
}

.copy__card{
    font-size: 1.15rem;
}

.cta__phone{
    text-decoration: none;
    color: black;
}

.cta__phone:hover{
    transition: .6s;
    font-weight: 600;
}

.hero__links--margin{
    margin-bottom: 4rem;
}

.map{
    width: 100% ;
    height: 407px;
}

@media screen and (min-width:1024px){
    .items__contact{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

    .grid--container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.4rem;
        margin: 4rem auto 0;
        max-width: 1000px;
    }


    .fa-card{
        margin-bottom: 1.25rem;
    }

    .item__card{
        width: 90%;
        height: 100px;
        gap: 0rem;
    }

    .text__card{
        margin-bottom: 1.25rem ;
    }
    

    .map__container{
        display: grid;
        place-items: center;
    }

    .map{
        max-width: 550px;
        width: 90% ;
    }
}