/* ==== FONTS ==== */

@font-face{
    font-family: Ananda;
    src: url(/src/fonts/ananda_2/Ananda\ Black\ Personal\ Use.ttf);
}

@font-face{
    font-family: AnandaBlack;
    src: url(/src/fonts/ananda_2/Ananda\ Black\ Personal\ Use.ttf);
}

@font-face{
    font-family: Callingstone;
    src: url(/src/fonts/callingstone/Callingstone\ -\ Personal\ Use\ Only.ttf);
}

/* ==== ROOT ==== */

:root{
    --fontLogo: 'Ananda';
    --fontText: 'Manrope';
    --fontThrid:'Callingstone';
    --fontHero:'Playfair Display';
    --mainColor: #333333;
    --secondaryColor:#f2f2f2;
    --hoverColor:#737474;
    --textSize:1rem;
    --ctaSize:0.855rem;
    --tittleSize:2.5rem;
    --white:#ffff;
}

*{
    /* outline: 1px solid red; */
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

body{
    background-color: var(--secondaryColor);
    font-family: var(--fontText);
    font-size: 1rem;
    color: var(--mainColor);
}

/* ==== HEADER SECTION START ==== */

.header{
    width: 90%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: var(--tittleSize);
    font-family: var(--fontLogo);
    font-weight: 800;
}

.header__nav{
    display: none;
}

.sidebar{
    display: none;
}

.header__sidebar{
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.header__sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__sidebar{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgb(252, 250, 250);
    list-style: none;
}

.header__items--sidebar{
    display: inline-block;
    width: 340px;
    height: 50px;
    line-height: 50px;
}

.fa-x{
    position: absolute;
    font-size: 1.25rem;
    padding: 12px 14px;
    top: 20px;
    right: 30px;
}

.fa-x{
    background-color: var(--mainColor);
    color: var(--white);
}

.header__items--sidebar{
    color: var(--mainColor);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
}

.header__items--sidebar--color{
    background-color: #333333;
    color: var(--secondaryColor);
}

.menu__container{
    display: inline-block;
    background-color: var(--mainColor);
    padding: 12px 14px;
}

.menu__container:hover{
    background-color: var(--hoverColor);
}

.menu{
    color: #f1f1f1;
    font-size: 1.25rem;
}

/* ==== HEADER SECTION END ==== */


/* ==== HERO SECTION START ==== */

.hero{
    height: 85vh;
    display: flex;
    align-items: center;
}

.hero{
    background-image: linear-gradient(180deg, #bebaba6c , #ebdfdf2a) ,url(/src/img/banner-min.png);
    background-position: center;
    background-size: cover;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    color: var(--mainColor);
}

.text{
    margin: 0;
    font-family: var(--fontText);
    font-size: 1.05rem;
    font-weight:500;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.tittle{
    margin: 0;
    font-size: 4rem;
    font-family: var(--fontHero);
    font-weight: 700;
}

.copy{
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 200;
}

.hero__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.hero__links{
    display: inline-block;
    width: 9.375rem;
    height: 3.125rem;
    line-height: 3.125rem;
}

.hero__links{
    font-weight: 400;
    letter-spacing: 0.125rem;
    font-size: 0.855rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.hero__links{
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--white);
    box-shadow: 0rem 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.178);
}

.hero__links--color{
    background-color: var(--secondaryColor);
    color: var(--mainColor);

}

.hero__links:hover{
    background-color: var(--hoverColor);
}

.hero__links--color:hover{
    background-color:var(--mainColor);
    color: var(--secondaryColor);
}

/* ==== HERO SECTION END ==== */



/* ==== HEADER SECTION QUERIES START ==== */

@media screen and (min-width:768px){

    .hero__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hero__texts .copy{
        width: 31.25rem;
        margin: 0 auto;
    }
    

}

@media screen and (min-width:1024px){

    .hero{
        height: 90vh;
    }

    .menu__container{
        display: none;
    }

    .header__nav{
        display: inline-block;
    }

    .header__lists{
        list-style: none;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
    }

    .header__item{
        text-decoration: none;
        text-transform: uppercase;
        color: var(--hoverColor);
        font-weight: 400;
        letter-spacing: 0.105rem;
    }
    
    .header__item--color{
        color: var(--secondaryColor);
        background-color: var(--mainColor);
        padding: 0.75rem 1.625rem;
    }

    .header__item--color:hover{
        transition: .4s;
        background-color: var(--secondaryColor);
        color: var(--mainColor);
        outline: 1px solid #333333 ;
    }

    .hero__texts .copy{
        width: 45.55rem;
        margin: 0 auto;
    }
}

@media screen and (min-width:1100px){
    .header__lists{
        gap: 1.25rem;
    }

}

@media screen and (min-width:1400px){
    .header__lists{
        gap: 2rem;
    }

}

/* ==== HEADER - HERO SECTION QUERIES END ==== */


/* ==== SPECIALITIES SECTION START ==== */

.tittle-specialities{
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.specialites__picture--container{
    display: flex;
    flex-direction: column;
    gap: 4rem; 
}

.specialities__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialities__img{
    cursor: pointer;
    width: 100%;
    max-width: 380px;
    height: 600px;
    object-fit: cover;
    aspect-ratio: 2/3;
    box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.329);
    border-radius: 0.25rem;
}

.specialities__img:hover{
    transition: .4s;
    opacity: .8;
}

.copy__specialities--container{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    margin-top: 4rem;
}

.copy--specialities{
    margin:  0 0 1.35rem 0;
}

.span__underline{
    text-decoration: underline;
}

.copy--specialities--hidden{
    display: none;
}


/* ==== SPECIALITIES SECTION END ==== */

/* ==== SPECIALITIES QUERIES SECTION START ==== */


@media screen and (min-width:1024px){

    .specialities__article{
        display: grid;
        justify-content: center;
    }

    .copy__specialities--container{
        max-width: 720px;
    }

    .copy--specialities--hidden{
        display: inline-block;
    }
    


    .specialites__picture--container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1rem;
    }

    .specialities__img{
        width: 100%;
        max-width: none;
    }


}

/* ==== SPECIALITIES QUERIES SECTION END ==== */
